/* Atividade 1: Alterar Cor ao Clicar */
 
/* #quadrado{
    width: 20vw;
    height: 30vh;
    background-color:gray;
    border: 1px solid white;
 
}
#quadrado2{
    width: 20vw;
    height: 30vh;
    background-color: gray;
    border: 1px solid white;
}
#quadrado3{
    width: 20vw;
    height: 30vh;
    background-color: gray;
    border: 1px solid white;
}
#container{
    display: flex;
    flex-direction: row;
 
} */

/* Atividade 3: Mostrar/Ocultar Texto

#texto {
    display:none;
} */